Django
djangorestframework
django-crispy-forms
django-filter
Pillow
pdfkit
wkhtmltopdf
requests
gunicorn
whitenoise
psycopg2-binary
channels
asgiref
channels-redis
django-cors-headers
python-dotenv
celery
redis
boto3
django-storages
django-anymail