{% extends 'base.html' %}
{% load static %}

{% block title %}Price{% endblock %}

{% block content %}
<!-- Pricing Plan Start --> 
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Medical Packages</h5>
            <h1 class="display-4">Awesome Medical Programs</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            
            <!-- Pregnancy Care -->
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="{% static 'img/price-1.jpg' %}" alt="Pregnancy Care">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-primary">Pregnancy Care</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">Ksh</small>4900
                            <small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Year</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Emergency Medical Treatment</p>
                    <p>Highly Experienced Doctors</p>
                    <p>Highest Success Rate</p>
                    <p>24/7 Telephone Service</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                </div>
            </div>

            <!-- Health Checkup -->
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="{% static 'img/price-2.jpg' %}" alt="Health Checkup">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-primary">Health Checkup</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">Ksh</small>9900
                            <small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Year</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p> Emergency Medical Treatment</p>
                    <p>Highly Experienced Doctors</p>
                    <p>Highest Success Rate</p>
                    <p>24/7 Telephone Service</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                </div>
            </div>

            <!-- Dental Care -->
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="{% static 'img/price-3.jpg' %}" alt="Dental Care">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-primary">Dental Care</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">Ksh</small>1499
                            <small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Year</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Emergency Medical Treatment</p>
                    <p>Highly Experienced Dentists</p>
                    <p>State-of-the-Art Facilities</p>
                    <p>24/7 Telephone Support</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                </div>
            </div>

            <!-- Operation & Surgery -->
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="{% static 'img/price-4.jpg' %}" alt="Operation & Surgery">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-primary">Operation & Surgery</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">Ksh</small>1990
                            <small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Year</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Emergency Surgical Procedures</p>
                    <p>Highly Skilled Surgeons</p>
                    <p>Post-Surgery Rehabilitation</p>
                    <p>24/7 Support & Care</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Pricing Plan End -->


<!-- Appointment Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Appointment</h5>
                    <h1 class="display-4">Make An Appointment</h1>
                </div>
                <p class="text-white mb-5">Easily book your appointment with just a few clicks! Get timely, hassle-free access to expert healthcare.</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="{% url 'team' %}">Find Doctor</a>
                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="{% url 'view_appointments' %}">View Records</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Book An Appointment</h1>
                    <form method="POST" action="{% url 'book_appointment' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" class="form-control bg-light border-0" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" name="email" class="form-control bg-light border-0" placeholder="Your Email" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="phone" class="form-control bg-light border-0" placeholder="Phone Number" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="department" class="form-select bg-light border-0" required>
                                    <option selected>Choose Department</option>
                                    <option value="Emergency Medicine">Emergency Medicine</option>
                                    <option value="General Medicine">General Medicine</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Pediatrics">Pediatrics</option>
                                    <option value="Cardiology">Cardiology</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Oncology">Oncology</option>
                                    <option value="Orthopedics">Orthopedics</option>
                                    <option value="Pharmacy">Pharmacy</option>
                                    <option value="Psychiatry">Psychiatry</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="doctor" class="form-select bg-light border-0" required>
                                    <option selected>Select Doctor</option>
                                    <option value="Doctor Kiprop">Doctor Kiprop</option>
                                    <option value="Doctor Wambwere">Doctor Wambwere</option>
                                    <option value="Doctor Jackie">Doctor Jackie</option>
                                    <option value="Doctor Ndiema">Doctor Ndiema</option>
                                    <option value="Doctor Eli">Doctor Eli</option>
                                    <option value="Doctor Mutai">Doctor Mutai</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="date" name="date" class="form-control bg-light border-0" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="time" name="time" class="form-control bg-light border-0" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->



<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
            <h1 class="display-4">Qualified Healthcare Professionals</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{% static 'img/team-1.jpg' %}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Doctor Mutai</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Gynecologist</h6>
                            <p class="m-0">Dedicated to women's reproductive health and overall wellness.</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{% static 'img/team-2.jpg' %}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Doctor Ken</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Dermatologist</h6>
                            <p class="m-0">Expert in skin health, treating various conditions with advanced care.</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{% static 'img/team-3.jpg' %}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <div class="mt-auto p-4">
                                <h3>Doctor Merel</h3>
                                <h6 class="fw-normal fst-italic text-primary mb-4">Orthopedic Surgeon</h6>
                                <p class="m-0">Specialist in bone and joint surgeries, ensuring mobility and recovery.</p>
                            </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
{% endblock %}