{% extends 'base.html' %}
{% load static %}

{% block title %}Service{% endblock %}

{% block content %}
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Services</h5>
            <h1 class="display-4">Excellent Medical Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Emergency Care</h4>
                    <p class="m-0"> Your health is our priority. Act fast, stay safe</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-procedures text-white"></i>
                    </div>
                    <h4 class="mb-3">Operation & Surgery</h4>
                    <p class="m-0">Expert surgical care with precision and safety. Your health, our priority</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Outdoor Checkup</h4>
                    <p class="m-0">Convenient outdoor checkups for accessible and quality healthcare anytime, anywhere.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-ambulance text-white"></i>
                    </div>
                    <h4 class="mb-3">Ambulance Service</h4>
                    <p class="m-0">Fast and reliable ambulance services—ready to respond 24/7 in emergencies.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Medicine & Pharmacy</h4>
                    <p class="m-0">Quality medications and expert guidance for your health needs.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Blood Testing</h4>
                    <p class="m-0">Accurate and quick blood tests for better diagnosis and care.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Appointment Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Appointment</h5>
                    <h1 class="display-4">Make An Appointment</h1>
                </div>
                <p class="text-white mb-5">Easily book your appointment with just a few clicks! Get timely, hassle-free access to expert healthcare.</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="{% url 'team' %}">Find Doctor</a>
                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="{% url 'view_appointments' %}">View Records</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Book An Appointment</h1>
                    <form method="POST" action="{% url 'book_appointment' %}">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" class="form-control bg-light border-0" placeholder="Your Name" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" name="email" class="form-control bg-light border-0" placeholder="Your Email" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" name="phone" class="form-control bg-light border-0" placeholder="Phone Number" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="department" class="form-select bg-light border-0" required>
                                    <option selected>Choose Department</option>
                                    <option value="Emergency Medicine">Emergency Medicine</option>
                                    <option value="General Medicine">General Medicine</option>
                                    <option value="Surgery">Surgery</option>
                                    <option value="Pediatrics">Pediatrics</option>
                                    <option value="Gynecology and Obstetrics">Gynecology and Obstetrics</option>
                                    <option value="Cardiology">Cardiology</option>
                                    <option value="Neurology">Neurology</option>
                                    <option value="Oncology">Oncology</option>
                                    <option value="Orthopedics">Orthopedics</option>
                                    <option value="Radiology and Imaging">Radiology and Imaging</option>
                                    <option value="Pathology and Laboratory">Pathology and Laboratory</option>
                                    <option value="Pharmacy">Pharmacy</option>
                                    <option value="Psychiatry">Psychiatry</option>
                                    <option value="Dermatology">Dermatology</option>
                                    <option value="Endocrinology">Endocrinology</option>
                                    <option value="Gastroenterology">Gastroenterology</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select name="doctor" class="form-select bg-light border-0" required>
                                    <option selected>Select Doctor</option>
                                    <option value="Doctor Kiprop">Doctor Kiprop</option>
                                    <option value="Doctor Wambwere">Doctor Wambwere</option>
                                    <option value="Doctor Jackie">Doctor Jackie</option>
                                    <option value="Doctor Lisper">Doctor Lisper</option>
                                    <option value="Doctor Mirriel">Doctor Mirriel</option>
                                    <option value="Doctor Reckie">Doctor Reckie</option>
                                    <option value="Doctor Cherop">Doctor Cherop</option>
                                    <option value="Doctor Ndiema">Doctor Ndiema</option>
                                    <option value="Doctor Eli">Doctor Eli</option>
                                    <option value="Doctor Mutai">Doctor Mutai</option>
                                    <option value="Doctor Koech">Doctor Koech</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="date" name="date" class="form-control bg-light border-0" required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="time" name="time" class="form-control bg-light border-0" required>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Make An Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Testimonial</h5>
            <h1 class="display-4">Patients Say About Our Services</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Doctor Jackie was amazing with my child’s treatment. Caring, professional, and truly dedicated!</p>
                        <hr class="w-25 mx-auto">
                        <h3>Emily Ndiema</h3>
                        <h6 class="fw-normal text-primary mb-3">Web Developer</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Doctor Kiprop and the team provided exceptional cardiac care. Their expertise and compassion saved my life</p>
                        <hr class="w-25 mx-auto">
                        <h3>Joseph Smith</h3>
                        <h6 class="fw-normal text-primary mb-3">Designer In fashion</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="{% static 'img/testimonial-3.jpg' %}" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Doctor Wambwere's expertise in neurosurgery gave me a second chance at life. Highly recommend this hospital</p>
                        <hr class="w-25 mx-auto">
                        <h3>Alice Ndiema</h3>
                        <h6 class="fw-normal text-primary mb-3">Engineer in Interior Design</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
{% endblock %}